body {
  font-family: Arial, sans-serif;
  background-color: #f87218;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  width: calc(25% - 20px);
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-card h2 {
  font-size: 1.2em;
}

.product-card p {
  font-size: 1em;
}
