.section-below-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px 0;
    padding: 10px;
    height: 30vh;
    margin-top: 10px;
    background-color: #fff;
  }
  
  .categories {
    width: 20%;
    padding-right: 10px;
  }
  
  .categories h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .categories ul {
    list-style: none;
    padding: 0;
  }
  
  .categories ul li {
    margin-bottom: 8px;
  }
  
  .categories ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
  }
  
  .slideshow {
    width: 60%;
    position: relative;
  }
  
  .slideshow a {
    display: block;
  }
  
  .slideshow img {
    width: 100%;
    height: 30vh;
    border-radius: 5px;
  }
  
  .right-links {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-around;
  }
  
  .right-links a {
    text-decoration: none;
    color: #333;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
  }
  
  .right-links a:hover {
    color: #f68b1e;
  }
  .home {
    max-width: 1100px;
    margin: auto auto;
  }
  .home_row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .home_row > * {
    flex: 1;
  }
  @media (max-width: 378px) {
    .off {
      display: none;
    }
  }
  